.env
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

/.git

data/

venv/
.venv/
env/
.cache/
.pytest_cache/
.coverage
htmlcov/

dist/
build/

*.log
*.tmp
*.out

.DS_Store
Thumbs.db
data\student_model.pt


/old-data